/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.semaforo {

    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(41, 41, 41);
    width: 30rem;
    height: 60rem;
    border-radius: 40px;
}

.red {
    margin: auto;
    background-color: red;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
}

.yellow {
    margin: auto;
    background-color: yellow;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
}

.green {
    margin: auto;
    background-color: green;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
}

.light {
    box-shadow: 0 0 40px 10px rgba(255, 252, 213, 0.7),
    inset 0 0 40px rgba(0, 255, 200, 0.7);


}